<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="centered" style="height: 100vh; flex-direction: column;">
        <h3>Welcome!</h3>
        <button style="width: 50%;" class="styled-button" onclick="window.location.href = '/auth/login';">Login</button>
        <button style="width: 50%;" class="styled-button" onclick="window.location.href = '/auth/register';">Register</button>
    </div>
  </body>
</html>
