<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="centered" style="height: 100vh; flex-direction: column;">
      <h1>Welcome,</h1>
      <h3><%= email %></h3>
      <p style="width: 50%; ">biba and boba, pupa and lupa</p>
      <button style="width: 30%;" class="styled-button" onclick="window.location.href = '/auth/logout';">Logout</button>
    </div>
    
  </body>
</html>
