<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="centered" style="height: 100vh; flex-direction: column;">
        <%= message %>
    </div>
  </body>
</html>
