<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="centered" style="height: 100vh; flex-direction: column">
    <form name="authForm" onsubmit="return validateAuthForm()" action="/auth/login" method="post">

      <div class="form-item">
        <label>Email</label>
        <div class="input-wrapper">
          <input type="email" id="email" name="email" required />
        </div>
      </div>

      <div class="form-item">
        <label>Password</label>
        <div class="input-wrapper">
          <input type="password" class="password" name="password" required />
          <button type="button" class="eyeball">
            <div class="eye"></div>
          </button>
          <div class="beam"></div>
        </div>
      </div>

      <button class="styled-button margined" type="submit">Login</button>
    </form>
  </div>
  <script src="/javascripts/main.js"></script>
</body>

</html>